<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CURE AI</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css'%}">
  </head>
  <body>
    <header class="header">
      <nav class="navbar">
        <h2 class="logo"><a href="/">Cure AI</a></h2>
        <ul class="links">
          <li><a href="/">Home</a></li>
          <li><a href="about">About Us</a></li>
          <li><a href="services">Services</a></li>
          <li><a href="teaminfo">Team Info</a></li>
        </ul>
        <div class="buttons">
          <a href="signin" class="signin">Sign In</a>
          <a href="signup" class="signup">Sign Up</a>
        </div>
      </nav>
    </header>
    <section class="hero-section">
      <div class="hero">
        <h2>Know who we are!</h2>
        <p>
          We work as an organization to find the early diagnosis of the diseases and symptoms which can be seen in early cases of few disease
        <br>
        </p>
      </div>
    </section>
  </body>
</html>
